div.team-colors {
  margin: 2vh 0;
}

div.team-color{
  height: 8vh;
  margin: 1.5vh;
  align-items: center;
}


.team-color h1 {
  font-size: clamp(0.6rem, 0.9rem, 1.6rem);
  font-family: f1, "Archivo", system-ui, sans-serif;
  line-height: 2.0;
}

.color-section {
  display: inline-block;
  background-color: #ccc;
  transform: skew(-35deg);
  height: 6vh;
  padding: 10px;
}