{% extends "layout.html" %}
{% block content %}
<h1>2023 Formula One Constructor Standings</h1>
<table>
    <tr>
      <th>POS</th>
      <th>TEAM</th>
      <th>PTS</th>
    </tr>
    {% for idx, team in enumerate(leaderboard) %}
        <tr>
            <td class="position">{{str(idx+1)}}</td>
            <td class="driver">
                <strong>{{team["team"]}}</strong>
            </td>
            <td class="position">{{team["pts"]}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}