{% extends "layout.html" %}
{% block content %}
<h1>2023 Formula One Driver Standings</h1>
<table>
    <tr>
      <th>POS</th>
      <th>Driver</th>
      <th>PTS</th>
    </tr>
    {% for idx, driver in enumerate(leaderboard) %}
        <tr>
            <td class="position">{{str(idx+1)}}</td>
            <td class="driver">
                {{driver["driver"].split(" ")[0]}}
                <strong>{{driver["driver"].split(" ")[1]}}</strong>
                <span>{{driver["team"]}}</span>
            </td>
            <td class="position">{{driver["pts"]}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}