{% extends "index.html" %}
{% block content %}
<div class="sidebar col-sm-8 col-md-8 mb-md-5">
    <div class="standings d-flex flex-wrap justify-content-between ml-md-2">
        <div class="col-md-1 col-sm-2">
            <h1 class="standingName">Standings</h1>
        </div>
        <div class="driver col-md-5 col-sm-5 flex-sm-column mb-2"> 
            <div class="driver-background">
                <div class="standing-title">
                    <h2 id="Driver">Drivers</h2>
                </div>
            </div> 
        </div>
        <div class="constructor col-md-5 col-sm-5 flex-sm-column mb-2">
            <div class="constructor-background">
                <div class="standing-title">
                    <h2 id="Constructor">Constructor</h2>
                </div>
            </div> 
        </div>
    </div>

    <div class="comp mb-md-3" id="Calendar">
        <h1>Race Calendar</h1>
        <img src="{{ url_for('static', filename='images/calendar.jpg') }}" 
            alt="Calendar Cover Image">
    </div>

    <div class="comp " id="Design">
        <h1>Visual Design</h1>
        <img src="{{ url_for('static', filename='images/design.jpg') }}" 
            alt="Visual Design Cover Image">
    </div>
</div>
</div>
{% endblock content %}